<header class="header header-center undefined">
    <div class="container-fluid">
        <!-- Logos-->
        <div class="inner-header"><a class="inner-brand" href="index.html"><%= image_tag "logo.png", class: "brand-dark", width: "77px", alt:""%> <%= image_tag "logo-light.png", class: "brand-light", width: "77px", alt: ""%>
                <!-- Or simple text-->
                <!-- Core--></a></div>
        <!-- Navigation-->
        <div class="inner-navigation collapse">
            <div class="inner-navigation-inline">
                <div class="inner-nav">
                    <ul>
                        <!-- Home-->
                        <li class="menu-item-has-children menu-item-has-mega-menu"> <%= link_to "Home", root_path, class: 'nav-link' %> 
                           
                        </li>
                        
                        <li ><%= link_to "Contact US", contact_path, class: 'nav-link' %>
                            
                        </li>
                        <li>
                       
                          <%= link_to "About Us", about_me_path, class: 'nav-link' %> 
                            
                        </li>
                        
                        <li>
                        <li class="menu-item-has-children"><a href="#">My Account</a>
                           
                        </li>
                        
                      <li>
                        <%= link_to "Cart", cart_path, class: 'nav-link' %> 
                        </li>
                </div>
            </div>
        </div>
    
        <!-- Mobile menu-->
        <div class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></div>
    </div>
</header>
